.example-spacer {
  flex: 1 1 auto;
}
.Title{
  color: saddlebrown;
}
.button-row {
  margin-bottom: 5%;
}
.top{
  color: aliceblue;
  font-size: 250%;
  /* background-color: rgb(0, 0, 0); */
}
.img-circle {
  border-radius: 50%;
  width: auto;
  height: 50%;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
  -o-filter: saturate(200%);
  -ms-filter: saturate(200%);
}
h1 {
  top: 80%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
 
}
.bottom {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
  -o-filter: saturate(200%);
  -ms-filter: saturate(200%);
}