<mat-toolbar class ="top" color="primary">
    <mat-toolbar-row>
        <div class="button" color="accent">
            <button mat-button  routerLink="/home">
              <img class="world" height="25" src="assets/img/brand/BoschLogoNoBackground.png" >
            </button>
            
          </div>
      
    </mat-toolbar-row>
  </mat-toolbar>


<br><br>
<h2 style="text-align:center;">TEF9 SHOP MAINTENANCE</h2>

<div class="w3-display-middle">

  <h4 style="text-align:center;">Please LogIn</h4>
  <mat-card class="card2" >
    <mat-card-content style="text-align:center">
      <mat-form-field>
        <input matInput placeholder="Username" type="text" id="username" [(ngModel)]="staff.username">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" id="password" [(ngModel)]="staff.password">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions style="text-align:center">
      <button mat-raised-button (click)="login()" color="primary" type="submit">Login</button>
    </mat-card-actions>

  </mat-card>
</div>
