<mat-toolbar class ="top" color="primary">
  <mat-toolbar-row>
      <div class="button" color="accent">
          <button mat-button  routerLink="/home/admin">
            <img class="world" height="25" src="assets/img/brand/BoschLogoNoBackground.png" >
          </button>
          <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        </div>
    <span class="example-spacer"></span>
      <div class="buttonLogIn">
          <button mat-button color="accent" routerLink="/list-mold" >
              LIST MOLD
          </button>
      </div>
    <a mat-button [routerLink]="['/home-show']"><i class="material-icons"> home </i></a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav  mode="side">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/add-location'"> Location </a>
        <a mat-list-item [routerLink]="'/add-responsible'"> Responsible </a>
        <a mat-list-item [routerLink]="'/layout'"> layout </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <div class = "Title">
          <h1 style="text-align:center;"> REGISTER MOLD </h1>
        </div>

        <div class="member">
          <form class="name" style="text-align:center;">

            <h4>PRODUCT : &nbsp;&nbsp;<mat-form-field>
              <mat-select [(ngModel)]="productSelect" [ngModelOptions]="{standalone: true}" placeholder="Select part mold"
                          panelClass="example-panel">
                <mat-option [value]="product.productID" *ngFor="let product of proName" >
                  {{product.proName}}
                </mat-option>
              </mat-select>
            </mat-form-field></h4>

            <h4>TOOL NO. : &nbsp;&nbsp; <mat-form-field class="example-full-width">
              <input matInput placeholder="Input tool no." [(ngModel)]="addmold.inputName"
                    type = "text" [ngModelOptions]="{standalone: true}">
            </mat-form-field></h4>

            <h4>MODEL : &nbsp;&nbsp; <mat-form-field>
              <mat-select [(ngModel)]="modelSelect" [ngModelOptions]="{standalone: true}" placeholder="Select model"
                          panelClass="example-panel">
                <mat-option [value]="model.modelID" *ngFor="let model of models" >
                  {{model.model}}
                </mat-option>
              </mat-select>
            </mat-form-field></h4>

            <h4>PART NO. : &nbsp;&nbsp; <mat-form-field class="example-full-width">
              <input matInput placeholder="Input part no." [(ngModel)]="addmold.inputPartNo"
                    type = "text" [ngModelOptions]="{standalone: true}">
            </mat-form-field></h4>

            <h4>PART NAME : &nbsp;&nbsp; <mat-form-field>
              <mat-select [(ngModel)]="partNameSelect" [ngModelOptions]="{standalone: true}" placeholder="Select part name"
                          panelClass="example-panel">
                <mat-option [value]="partName.partNameID" *ngFor="let partName of namepas" >
                  {{partName.namePa}}
                </mat-option>
              </mat-select>
            </mat-form-field></h4>


            <br>
            <div class ="button-row">
              <a mat-raised-button color ="warn" (click)= "save()" >save</a>
            </div>
          </form>
        </div>
      </div>
      </mat-sidenav-content>
  </mat-sidenav-container>